doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="/anredd/public/styles/custom.css")
  script(src="/static/anredd/scripts/jquery-1.11.3.min.js")
  
body(style="font-family: 'Georgia';font-size:20px;background-color:#e6dae1;color:#444;")
  div(class="loader")
  header(style="font-family:'Quicksand';color:#e6dae1;padding: 5px 2px;font-size:25px;text-align:center;background-color:#104E8B;border-bottom: 1px solid #c42700;text-shadow: 0px -1px 0px #c42700;")
    h1 A(n)Redd
  div(class="container")    
    p.
      click on the prompt you like and go to the story!

  div(id="reddit-content")
    ul#t_list(style="padding-left:0px;")
      each i in titlez
        button.res= i
    ul#i_list(style="display:none;")
      each i in idz
        li#boom= i

footer
