.story {
  font-family: 'Quicksand';
  color: #e6dae1;
  margin: 30px 0px 30px 0px;
  padding: 5px;
  font-size: 30px;
  list-style-type: none;
  list-style-position: left;
  text-align: left;
  background-color: #104E8B;
  border-radius: 10px;
  overflow: auto;
}

#check {
  font-size: 22px;
  position: fixed;
  top: 15px;
  left: 15px;
  border-radius: 10px
}

.back {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 22px;
  border-radius: 10px;
} 